GH_OWNER=your-github-username
TAG=latest

DB_NAME=gns_quotation
DB_USER=gns_app
DB_PASSWORD=change_me_strong_password

JWT_SECRET=generate_with_openssl_rand_hex_32

MINIO_USER=minioadmin
MINIO_PASSWORD=change_me_strong_password
MINIO_BUCKET=internalgns

API_HOST=api.internalgns.yourdomain.id
WEB_HOST=internalgns.yourdomain.id
